@using System.Security.Cryptography.X509Certificates
@using MudBlazor.Utilities
@inherits LayoutComponentBase
@rendermode InteractiveAuto

@inject GlobalState GlobalState
@inject IJSRuntime JS

@implements IDisposable

<MudThemeProvider @bind-IsDarkMode="@GlobalState.IsDarkMode"
    Theme="@CustomTheme"/>
<MudPopoverProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="1">
        <MudText Typo="Typo.h6">bento order</MudText>
        <MudSpacer />
        <MudIconButton
            Icon="@(GlobalState.IsDarkMode ? Icons.Material.Filled.LightMode :
                Icons.Material.Filled.DarkMode)"
            Color="Color.Inherit"
            OnClick="@ToggleDarkMode" />
    </MudAppBar>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    // 主題顏色配置
    private readonly MudTheme CustomTheme = new()
    {
        PaletteLight = new PaletteLight()
        {
            Primary = Colors.Orange.Lighten1,
            Secondary = Colors.Pink.Lighten4,
            AppbarBackground = Colors.Orange.Lighten1,
            Background = Colors.Gray.Lighten3,
        },
        PaletteDark = new PaletteDark()
        {
            Primary = Colors.Orange.Darken1,
            Secondary = Colors.Pink.Darken4,
            AppbarBackground = Colors.Orange.Darken1,
            @* Background = "#121212", *@
        }
    };

    // 初始化
    protected override void OnInitialized()
    {
        base.OnInitialized();

        GlobalState.OnChange += StateHasChanged;
    }

    // 離開頁面
    public void Dispose()
    {
        GlobalState.OnChange -= StateHasChanged;
    }

    // 頁面渲染完成後，從local storage取得資料
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // 讀取儲存的主題設定
            string? savedMode = await JS.InvokeAsync<string>(
                "localStorage.getItem", "darkMode");
            
            if (!string.IsNullOrEmpty(savedMode))
            {
                bool isDark = bool.Parse(savedMode);
                if (GlobalState.IsDarkMode != isDark)
                {
                    GlobalState.SetDarkMode(isDark);
                    StateHasChanged();
                }
            }
        }
    }

    // 切換深色模式
    private async Task ToggleDarkMode()
    {
        bool newMode = !GlobalState.IsDarkMode;
        GlobalState.SetDarkMode(newMode);
        await JS.InvokeVoidAsync(
            "localStorage.setItem",
            "darkMode", newMode.ToString()
        );
    }
}